.header {
  background-color: $red;
  display: flex;
  justify-content: space-between;
  padding-left: 88px;
  padding-right: 56px;
  .logo {
    margin-top: 30px;
    a {
      display: block;
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
      background-position: center center;
      background-repeat: no-repeat;
      width: 80px;
      height: 49px;
      text-indent: 101%;
      overflow: hidden;
    }
  }
  .nav {
    display: flex;
    a {
      font-size: 20px;
      line-height: 30px;
      display: block;
      color: $white;
      padding: 40px 32px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include pad {
    padding-left: 39px;
    padding-right: 19px;
    .nav {
      a {
        padding: 40px 20px;
      }
    }
  }
  @include mobile {
    flex-wrap: wrap;
    padding: 0;
    .logo {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        background-size: 48px 30px;
        width: 48px;
        height: 30px;
        margin: 0 auto;
      }
    }
    .nav {
      width: 100%;
      flex-wrap: wrap;
      li {
        width: 50%;
        border: 1px solid $white;
        a {
          text-align: center;
          padding: 8px 20px;
        }
      }
    }
  }
}
