.container {
  max-width: $container;
  margin: 0 auto;
  @include pad {
    max-width: $container-md;
    padding: 0 39px;
  }
  @include mobile {
    max-width: $container-sm;
    padding: 0 15px;
  }
}

.d-flex {
  display: flex;
}

html {
  font-size: $base-font-size * 0.625;
}

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $font-family-base;
}
