.container {
  max-width: $container;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    max-width: $container-md;
    padding: 0 39px;
  }
  @media screen and (max-width: 767px) {
    max-width: $container-sm;
    padding: 0 15px;
  }
}

.d-flex {
  display: flex;
}

.bold-ch {
  font-weight: 700;
}
