.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/qa.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .faq-header {
    height: 304px;
    align-items: flex-end;
  }
  h1 {
    font-size: 64px;
    line-height: 80px;
    margin-right: 24px;
  }
  .question-mark {
    width: 58px;
    padding: 11px 0;
  }
  @include pad {
    h1 {
      font-size: 48px;
      margin-right: 16px;
    }
    .question-mark {
      width: 48px;
      padding: 16px 0;
    }
  }
  @include mobile {
    .faq-header {
      height: 143px;
    }
      h1 {
      font-size: 28px;
    }
    .question-mark {
      width: 24px;
      padding: 28px 0;
    }
  }
}

.faq-content {
  padding-top: 80px;
  padding-bottom: 264px;
  h2 {
    font-size: 32px;
    line-height: 63px;
    margin-bottom: 36px;
  }
  .question-and-answer {
    .question-and-answer-item {
      margin-bottom: 40px;
    }
    .question {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 16px;
    }
    .answer {
      font-size: 16px;
      line-height: 24px;
      max-width: 920px;
      padding-left: 95px;
    }
  }
  @include pad {
    padding-top: 40px;
    padding-bottom: 64px;
    .question-and-answer {
      .answer {
        padding-left: 59px;
      }
    }
  }
  @include mobile {
    padding-top: 24px;
    padding-bottom: 36px;
    h2 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    .question-and-answer {
      .question-and-answer-item {
        margin-bottom: 20px;
      }
      .question {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
      }
      .answer {
        padding-left: 0;
        font-size: 14px;
        line-height: 21px;
        br {
          content: '';
        }
        &:nth-child(3) {
          margin-top: 21px;
        }
      }
    }
  }
}
