.footer {
  background-color: $red;
  padding-top: 16px;
  padding-bottom: 28px;
  @media screen and (max-width: 1024px) {
    padding-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 25px;
  }
  .footer-upper-block {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    a {
      line-height: 24px;
      display: block;
      color: $white;
      padding: 32px 24px;
      &:first-child {
        padding-left: 0;
      }
      &:hover {
        text-decoration: underline;
      }
      @media screen and (max-width: 1024px) {
        padding: 24px 20px;
      }
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .contact {
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
      margin-top: 7px;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
      .contact-icon {
        width: 44px;
        margin-right: 14px;
        &.phone {
          padding: 6px;
        }
      }
      a {
        font-size: 36px;
        line-height: 54px;
        font-weight: 300;
        display: block;
        color: $white;
      }
      a:hover {
        text-decoration: underline;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 11px;
        .contact-icon {
          width: 32px;
          margin-right: 8px;
          &.phone {
            padding: 8px;
          }
        }
        a {
          font-size: 20px;
          line-height: 30px;
          font-weight: 300;
        }
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 7px;
        .contact-icon {
          width: 20px;
          margin-right: 5px;
          &.phone {
            padding: 1px;
          }
        }
        a {
          font-size: 16px;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }
  }
  .social-link {
    display: flex;
    margin-top: 20px;
    li {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 1024px) {
      margin-top: 24px;
      li {
        margin-right: 24px;
        width: 24px;
      }
    }
    @media screen and (max-width: 767px) {
      margin-top: 8px;
    }
  }
  hr {
    margin-top: 0;
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
      margin-bottom: 18px;
    }
  }
  .footer-lower-block {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: row-reverse;
    }
    .logo {
      margin-right: 38px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
        width: 46px;
        margin-right: 0;
        align-self: flex-end;
      }
    }
    .copyright-terms {
      color: $white;
      line-height: 24px;
      font-weight: 300;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 767px) {
        display: block;
        p {
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 7px;
        }
      }
    }
    .terms {
      display: flex;
      @media screen and (max-width: 767px) {
        display: block;
      }
      li:first-child {
        margin-right: 62px;
        @media screen and (max-width: 1024px) {
          margin-right: 24px;
        }
      }
      a {
        color: $white;
        font-size: 14px;
        line-height: 21px;
        &:hover {
          text-decoration: underline;
        }
        @media screen and (max-width: 767px) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

