// color
$white: #FFFFFF !default;
$gray-300: #DEE2E6 !default;
$gray-600: #707070 !default;
$black: #000000 !default;

$colors: () !default;
$colors: map-merge(
  (
    "white":      $white,
    "gray-light": $gray-300,
    "gray":       $gray-600,
    // "gray-dark":  $gray-800,
    "black": $black
  ),
  $colors
);

$primary: #AA0601 !default;
$secondary: #650300 !default;
$dark: #212529 !default;
$light: #FAF2F2 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "dark":       $dark,
  ),
  $theme-colors
);

// container
$container: 1110px !default;
$container-md: 944px !default;
$container-sm: 735px !default;

// Grid breakpoints
$grid-breakpoints: (
  xl: 1200px,
  lg: 1024px,
  md: 768px,
  // sm: 576px,
  // xs: 0
) !default;

// font
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Roboto', 'Noto Sans' !important;
$base-font-size: 16px;
$base-line-height: 1.5;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

// spacer
$spacer: 4rem;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Utilities
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
